<DOCTYPE html
html(lang="en")
    head
    block head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/material/css/main.css")
    include _mixins.pug
    body
        .container
            //HEADER---------------------------------------------------------------
            block header

            block banner

            block about_me

            block our-work

            block adociones

            block donaciones

            block galeria-fotos

            block videos

            block contacto

            block footer
                //FOOTER------------------------------------------------------------
                //- include ../base/_footer.pug

        //- script(src='/public/js/app.js')