extends _template.pug

block head
    link(rel="stylesheet", href="/material/css/main.css")
    link(rel="stylesheet", href="material/css/fontello.css")

block header
    include ../base/_burger.pug

block banner
    include ../base/_banner.pug