.about_we
    .about-me-container
        .about_we-foto
        .about_we-description
            h2 somos
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quia vitae necessitatibus, laboriosam ea ab incidunt! Et cupiditate deserunt omnis, sint aliquid id veritatis velit nisi incidunt, suscipit, eligendi doloribus!

    .about-me-container
        .about_we-description
            h2 somos
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quia vitae necessitatibus, laboriosam ea ab incidunt! Et cupiditate deserunt omnis, sint aliquid id veritatis velit nisi incidunt, suscipit, eligendi doloribus!
        .about_we-foto

    .about-me-container
        .about_we-foto
        .about_we-description
            h2 somos
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quia vitae necessitatibus, laboriosam ea ab incidunt! Et cupiditate deserunt omnis, sint aliquid id veritatis velit nisi incidunt, suscipit, eligendi doloribus!
        .about_we-foto    

    