.header
    img(src="/material/img/logo.png", alt="logo")
    .menu-togle
        input(type="checkbox" id="btn-menu" class="btn-menu")
        label(for="btn-menu" class="icon-menu")

        nav.menu
            ul
                li: a(href="#") Home
                li: a(href="#") Quienes somos
                li: a(href="#") Nuestra labor
                li: a(href="#") Adopciones
                li: a(href="#") Donaciones
                li: a(href="#") contactos