header.main-header
    .logo
        img(src="/" alt="foto")
    input(type="checkbox" class="menu-btn" id="menu-btn")
    label(for="menu-btn" class="icon-menu")
        span(class="icon-menu__line")
    
    ul.nav-links
        li.nav-link: a(href="#") home
        li.nav-link: a(href="#") quienes somos
        li.nav-link: a(href="#") nuestra labor
        li.nav-link: a(href="#") adopciones
        li.nav-link: a(href="#") donaciones
        li.nav-link: a(href="#") contacto
